In [3]:
!pip install xgboost

Requirement already satisfied: xgboost in c:\users\shoab\appdata\local\programs\python\python310\lib\site-packages (1.6.2)

[notice] A new release of pip available: 22.2.2 -> 22.3
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: scipy in c:\users\shoab\appdata\local\programs\python\python310\lib\site-packages (from xgboost) (1.9.0)
Requirement already satisfied: numpy in c:\users\shoab\appdata\local\programs\python\python310\lib\site-packages (from xgboost) (1.23.1)

In [4]:
import pandas as pd
import numpy as np


from sklearn.model_selection import train_test_split

from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier

In [8]:
df = pd.read_csv('../datasets/heart.csv')

In [9]:
df.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [35]:
df.describe()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trtbps    303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalachh  303 non-null    int64
 8   exng      303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slp       303 non-null    int64
 11  caa       303 non-null    int64
 12  thall     303 non-null    int64
 13  output    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [12]:
df.isna().sum()

age         0
sex         0
cp          0
trtbps      0
chol        0
fbs         0
restecg     0
thalachh    0
exng        0
oldpeak     0
slp         0
caa         0
thall       0
output      0
dtype: int64

In [13]:
df['output'].value_counts()

1    165
0    138
Name: output, dtype: int64

In [16]:
X = df.drop('output', axis=1)
y = df['output']

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=22)

In [18]:
xgb_clf = XGBClassifier()

In [19]:
xgb_clf.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
              importance_type=None, interaction_constraints='',
              learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=100,
              n_jobs=0, num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, ...)

In [22]:
y_pred = xgb_clf.predict(X_test)

In [23]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [25]:
print("Accuracy: ", accuracy_score(y_test, y_pred))

Accuracy:  0.7868852459016393

In [32]:

ss = StandardScaler()
X_train_scaled = ss.fit_transform(X_train)
X_test_scaled = ss.transform(X_test)

In [36]:
X_train.columns

Index(['age', 'sex', 'cp', 'trtbps', 'chol', 'fbs', 'restecg', 'thalachh',
       'exng', 'oldpeak', 'slp', 'caa', 'thall'],
      dtype='object')

In [45]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

from sklearn.model_selection import GridSearchCV

In [61]:
ct_scale = ColumnTransformer([
    ('MM scaler',MinMaxScaler(),['trtbps','thalachh']),
    ('SS scaler',StandardScaler(),['age', 'sex', 'cp', 'chol', 'fbs', 'restecg','exng', 'oldpeak', 'slp', 'caa', 'thall'])
], remainder='passthrough')

In [42]:
preprocess_pipe = Pipeline([
    ('CT Scaling',ct_scale)
])

In [62]:
model_pipe = Pipeline([
    ('ct_scale',ct_scale),
    ('XGB', XGBClassifier())
])

In [55]:
param_grid={ 
    'XGB__colsample_bytree': [0.8],
    'XGB__learning_rate': [0.2,0.3,0.5],
    'XGB__max_depth': [4,8,16,32],
    'XGB__n_estimators': [100,200,300],
    'XGB__nthread': [3],
    'XGB__random_state': [0],
    'XGB__reg_alpha': [0,0.5,1,5],
    'XGB__reg_lambda': [0,0.5,1,5],
    'XGB__subsample': [0.7,0.8,1.0],
    'XGB__verbosity': [1]
}

In [63]:
xgb_grid = GridSearchCV(model_pipe, param_grid, cv=5)
xgb_grid.fit(X_train,y_train)
test_score = xgb_grid.score(X_test, y_test)

In [64]:
print("test score:",test_score)
print("best parameters: ",xgb_grid.best_params_)
print("best score: ", xgb_grid.best_score_)

test score: 0.7868852459016393
best parameters:  {'XGB__colsample_bytree': 0.8, 'XGB__learning_rate': 0.5, 'XGB__max_depth': 4, 'XGB__n_estimators': 100, 'XGB__nthread': 3, 'XGB__random_state': 0, 'XGB__reg_alpha': 1, 'XGB__reg_lambda': 1, 'XGB__subsample': 0.8, 'XGB__verbosity': 1}
best score:  0.8473639455782314

In [33]:
xgb_clf = XGBClassifier()
xgb_clf.fit(X_train_scaled, y_train)
y_pred = xgb_clf.predict(X_test_scaled)
print("Accuracy: ", accuracy_score(y_test, y_pred))

Accuracy:  0.7868852459016393

In [ ]:
GridSearchCV()